
h1 {
    font-family:fantasy;
    font-size: 65px;
}
#first{
    border: 2px solid red;
    /* border-colour: red;
    border-width:2px;
    border-style:solid */
    padding:70px;
    font-family: cursive;
    font-size: large;
    color: salmon;
    border-radius: 70px;
}
#second{
    border: 2px solid blue;
    /* border-colour: red;
    border-width:2px;
    border-style:solid */
    padding:70px;
    font-family: cursive;
    font-size: large;
    color: blue;
    border-radius: 70px;
    margin-left: 10px;
}
#third{
    border: 2px solid green;
    /* border-colour: red;
    border-width:2px;
    border-style:solid */
    padding:70px;
    font-family: cursive;
    font-size: large;
    color: green;
    border-radius: 70px;
}
.container{
    border:2px dashed black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

a:hover {
  color: red; 
  font-family:cursive;
  font-size: larger;
}
li.accent{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

.header{
text-align: center;
padding: 25px 25px 25px 25px;
margin: 20px 100px 20px 100px;
border: 10px solid black;
background-color:red;
border-radius: 30%;
}

header{
    margin: 20px 20px 20px 20px;
}

footer{
    text-align: center;
    padding: 30px 30px 30px 30px;
}

body{
    background-color: lightgoldenrodyellow;

}